body {
    background-color: white;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
  
h1 {
    text-align: center;
}

img{
    width: 100%
}

.box {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
}

.box div{
    width: 50%;
}

p{
    font-size: 4vh;
    font-size: 2vw;
}